
body {
  font-family: $font-primary;
  font-size: 18px;
}
a:focus, a:hover {
  outline: none!important;
}
.wrap {
  //  width: 100%
}
h1, h2, h4 {
  font-weight: normal;
  text-transform: normal;
  margin-top: 0
}
h1 {
  font-size: 22px!important;
  font-family: $font-secondary;
  margin-bottom: 25px;
  color: black;
  line-height: 65px;
}

h2 {
  font-size: 18px;
  font-family: $font-secondary;
  margin-bottom: 45px;
}
h3 {
  font-size: 16px;
  font-family: $font-primary;
  margin-bottom: 35px;
  text-transform: uppercase;
}
h4 {
  font-family: $font-secondary;
  text-transform: uppercase;
}
h5 {
  font-family: $font-secondary;
  font-size: 16px;
  color: black;
}
h6 {
  font-family: $font-secondary;
  font-size: 24px;
  color: black;
  //text-transform: uppercase;
}
h6.blog-title {
  margin: 25px 0;
}
a {
  color: $brand-primary;
  font-family: $font-secondary;
  font-size: 18px;
}
a:hover {
  color: #000;
}
p {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 25px;
}
.lead {
  font-family: $font-primary;
  font-size: 22px;
}
#top-link-block.affix-top {
  position: absolute;
  right: 10px;
  /* allows it to "slide" up into view */
  bottom: -82px;
}
#top-link-block.affix a {
  position: fixed;
  z-index: 999;
  right: 20px;
  /* keeps it on the bottom once in view */
  bottom: -3px;
  width: 70px;
  height: 70px;
  border: none;
  background: transparent url('../images/scroll-up.png') no-repeat center;
}
#top-link-block.affix a:hover {
  background: transparent url('../images/scroll-up-hover.png') no-repeat center;
}
