// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #999999;

// Fonts
$font-primary:          "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", sans-serif;
$font-secondary:        "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;

$navbar-default-link-hover-color: #000;
$navbar-default-link-color: #a5a5a5;
$navbar-default-link-active-color: #000;
