button.btn.btn-default.btn-block {
  font-family: $font-secondary;
  outline: none;
  background: transparent;
}
input.wpcf7-submit, button.btn.btn-default.btn-block {
  min-height: 50px;
  color: grey;
  border: 0;
  border-radius: 0;
  border: 2px solid white;
}
.wpcf7-submit {
  min-height: 46px!important;
  font-family: $font-secondary;

  border: 2px solid lightgrey!important;
  border-radius: 0;
  background: none!important;
  color: grey;
  padding-top: 5px!important;
  padding-bottom: 5px;

}
.wpcf7-submit:hover {
  color: black;
  border: 0;
  border-radius: 0;
  border: 2px solid white!important;
  background-color: white
}
