div.wpcf7-mail-sent-ok {
	border: 2px solid black;
}
div.wpcf7-response-output {
	margin: 0;
	padding: 0.2em 1em;
}

div.wpcf7-validation-errors {
	border: 2px solid #c30e0e;
	margin-bottom: 45px;
	color: #c30e0e
}

span.wpcf7-not-valid-tip {
	color: #c30e0e;
	font-size: 1em;
	display: block;
}

// Search form
.search-form {
	@extend .form-inline;
}
.search-form label {
	font-weight: normal;
	@extend .form-group;
}
.search-form .search-field {
	@extend .form-control;
}
.search-form .search-submit {
	@extend .btn;
	@extend .btn-default;
}

label {
	font-size: 16px;
	display: block;
	width: 100%;
}
label.plz {
	width: 30%;
	float: left;
}
label.ort {
	width: 65%;
	margin-left: 35%;
}
label input,
textarea {
	box-sizing: border-box;
	width: 100%;
}
input,
textarea {
	-webkit-transition: background 300ms ease-in-out;
	-moz-transition: background 300ms ease-in-out;
	-ms-transition: background 300ms ease-in-out;
	-o-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
	line-height: 1.4;
	color: #000;
	font-size: 14px;
	width: 100%;
	padding: 8px;
	border: none;
	margin-bottom: 8px;
	background-color: lightgrey;
	-webkit-box-shadow: 4px 8px 16px 0 rgba(0,0,0,0);
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0);
}
input:hover,
textarea:hover {
	background-color: white;
	-webkit-box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.3);
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.3);
}
input:focus,
textarea:focus {
	background-color: #FFF;
	-webkit-box-shadow: 4px 8px 16px 0 rgba(0,0,0,0);
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0);
}
::-webkit-input-placeholder {
	color: grey;
}

:-moz-placeholder { /* Firefox 18- */
	color: grey;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: grey;
}

:-ms-input-placeholder {
	color: grey;
}
