/* Start: Recommended Isotope styles */
#isotope-list {
  //padding: 0 !important;
}
.box {
  margin-bottom: 30px;
  min-height: 265px;
  //padding-left: 0;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#filters {
  list-style: none;
  padding-left: 15px;
  text-align: left;
}
.filter-element a {
  width: auto;
  display: inline-block;
}

.filter-element {
  display: inline-block;
}
#filters a {
  width: 100%;
  color: #a5a5a5;
  border: none!important;
  box-shadow: none;
  background-size: 50%;
  font-size: 17px;
  text-transform: uppercase;
}
#filters a.selected {
  color: black;
}
#filters .filter-element:first-child>a {
  padding-left: 0;
}
#filters div a,
#filters div a:hover,
#filters div a:active {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
