/*Modals*/

.modal-header, .modal-body {
  padding: 40px;
  padding-bottom: 0;
  border: 0;
}
.modal-body {
  padding-top: 0;
  border: 0;
}
.modal-body strong {
  font-family: $font-secondary;
}
.modal-body p {
  font-weight: 200;
}
.modal-header h1 {
  margin-bottom: 0;
}
.modal-header h1:after {
  display: block;
  width: 15%;
  height: 10px;
  margin-top: 35px;
  margin-bottom: 45px;
  content: '';
  border-bottom: 8px solid black;
}
.modal-body h5:first-child {
  text-transform: uppercase;
  margin-top: 5px;
}
.modal-body h5 {
  text-transform: uppercase;
  margin-top: 30px;
}
