.nav-primary {
  width: 100%;
  background: transparent url("../images/logo_test_medium.jpg") no-repeat center right;
  background-size: 20%;

}
.navbar-brand {
  background: transparent url("../images/logo_test_medium.jpg") no-repeat center right;
}
a.navbar-brand {
    min-width: 270px;
}

.navbar-default {
    background: none;
    border: transparent;
}
nav.navbar-collapse.pull-right.collapse.in {
    width: 100%;
}
nav, nav ul, nav ul li, nav ul li a {
  display: inline-block;
}
.menu, .menu li, .menu li a {
  display: inline-block;
}
.nav>li {
  position: relative;
  display: inline-block;
  padding: 0;
}
.nav>li>a  {
  position: relative;
  display: inline-block;
  padding: 20px 15px;
  text-transform: uppercase;
  color: $brand-primary;
  font-family: $font-primary;
  font-size: 22px;
}
.navbar-nav>.active>a {
  background-color: transparent!important;
}
.navbar-nav>li>a:focus {
    outline: none;
    border: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: transparent
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: black
  }
li.active a {
  font-family: $font-secondary;
  color: black;
  text-decoration: none;
}
li.dropdown:hover .dropdown-menu {
    display: block;
}
.current-menu-item > a {
    text-decoration: none!important;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent
}

#menu-main li:last-of-type a {
    padding-right: 0!important;
}
