.preloader {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background: white url("../images/WelpvonKlitzingLogo.jpg") no-repeat center;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  background-size: 50%;
}

.nav-primary ul li a:first-of-type {
  //color: red;
}