@media (min-width: 1170px) {

  .nav>li {
    position: relative;
    display: inline-block;
    padding: 0;
  }
  #text-2 {
    //padding-left: 0;
  }
  .team h2.subhead-image {
    font-size: 37px;
    left: 45px;
    top: 10%;
  }
}

@media (min-width: 992px) and (max-width:1199px) {

}

@media (max-width: 991px) {

  h2 {
    font-size: 20px;
    font-family: $font-secondary;
    margin-bottom: 45px;
  }
  h2.subhead-image {
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: initial;
  }
  .team h2.subhead-image {
    font-size: 20px;
    left: 45px;
    top: 10%;
  }

}
@media (max-width:776px) {

  .image-holder {
    margin-bottom: 15px;
  }

  .project-images>[class*=col-]:first-child {
    padding-left: 15px;
  }
}

@media (max-width: 680px) {

  .nav>li {
    display: block;
    width: 100%;
  }
  ul#menu-main {
    width: 100%;
  }
  .box {
    margin-bottom: 15px;
    min-height: 265px;
    width: 100%;
  }
  nav.navbar-collapse.pull-right.collapse.in {
    border: none;
  }

  ul#menu-main li {
    text-align: center!important;
    background: whitesmoke
  }
}
