h1.entry-title {
  font-size: 30px!important;
}

h2.subhead-image {
  position: absolute;
  bottom: 20px;
  left: 25%;
  text-align: initial;
  font-size: 36px;
}

h2.subhead-image.black {
  color: black;
}

h2.subhead-image.white {
  color: white;
}

.image-container {
  position: relative;
  &:img {
    min-width: 100%;
    max-height: 400px!important;
  }
  .arrow-container {
    position: absolute;
    width: auto;
    bottom: 3%;
    left: 48%;
    z-index: 9999999;
    img {
      min-width: 4% !important;
      max-height: 50px!important;
    }
  }
}

a.image-post-link {
  display: block;
  position: relative;
}

img.img-responsive.wp-post-image {
  min-width: 100%;
}

.box img {
  min-width: 100%;
}

.box img:hover {
  filter: grayscale(80%);
  ;
}

.blog-image-holder {
  min-height: 240px;
  padding: 15px;
}

.col-md-12.red-bg {
  background: lightgrey;
}

.col-md-12.blue-bg {
  background: lightgrey;
}

.col-md-12.green-bg {
  background: lightgrey;
}

.project-images>[class*=col-] {
  padding-left: 15px;
  padding-right: 15px
}

.project-images>[class*=col-]:first-child {
  padding-left: 0
}

.project-images>[class*=col-]:last-child {
  padding-right: 0
}

.project-images .image-holder {
  min-height: 265px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.project-images .image-holder:hover {
  filter: grayscale(100%);
}

.team-image-holder {
  position: relative;
}

a.empty-link {
  cursor: default!important;
}

// Begin Lightbox
a.empty-link {
  cursor: default!important;
}

a.lightbox-nav {
  position: absolute;
  top: 0;
  display: none;
  position: fixed;
  z-index: 999999;
  font-size: 60px;
  width: 40px;
  height: 100%;
  color: black
}

a.lightbox-nav.prev {
  left: 15px;
}

a.lightbox-nav.next {
  right: 15px;
}

a.lightbox-nav.nav-disabled {
  color: grey;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999
}

.overlay img {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 10%;
  max-width: 80vw
}

.close-img {
  position: fixed;
  color: black;
  font-size: 44px;
  right: 10%;
  top: 10%;
  border: 4px solid black;
  border-radius: 50%;
  width: 70px;
  text-align: center;
  cursor: pointer;
}

h3.team-title {
  font-size: 28px;
}

#filters .col-xs-3:first-of-type {
  padding-left: 0;
}

#filters .col-sm-2.col-xs-3 a {
  text-align: left;
}

#filters .col-sm-2.col-xs-3:first-child a {
  padding-left: 0;
}

img.overlay-image.img-responsive {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
}

img.overlay-image.img-responsive:hover {
  opacity: 1;
}
