p:last-of-type {
  margin-bottom: 0;
}
.sep-10 {
  padding: 5px 0;
}
.sep-20 {
  padding: 10px 0;
}
.sep-30 {
  padding: 15px 0;
}
.sep-40 {
  padding: 20px 0;
}
.sep-50 {
  padding: 25px 0;
}
.sep-60 {
  padding: 30px 0;
}
.sep-70 {
  padding: 25px 0;
}
.sep-80 {
  padding: 40px 0;
}
.sep-blue-line:after {
  display: block;
  height: auto;
  color: #000;
  content: '\2014';
  line-height: 0;
  margin-bottom: 25px;
}
hr.back-line {
  border: 2px solid black;
  margin: 60px 0;
}
.no-padding {
  padding: 0;
}
.mask {
  position: absolute;
  background-color: black;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.6s;
  padding: 1em;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mask:hover {
  opacity: 0.75;
}
.mask h6 {
  color: #FFF;
  text-align: center;
}
.mask h3, .mask p {
    color: white;
    text-align: center;
    line-height: 1.2em;
    //hyphens: auto;

}
.chrome .mask h3, .chrome .mask p {
    //word-break: break-all;

}
i.fa {
  display: inline-block;
  width: 50px;
  height: auto;
  position: relative;
  vertical-align: middle;
  padding: 15px 15px;
  border: 1px solid black;
  color: #000;
}
i.fa:hover {
  border: 1px solid black;
  color: #fff;
  background-color: #000;
  text-decoration: none;
}
#footer i.fa {
  border: 1px solid white;
  color: white
}
#footer i.fa:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
  text-decoration: none;
}
.list-inline {
  display: inline-flex;
}
.size-blog-image {
  min-width: 20%!important;
}
